extends layout

block content
  #user(style='display:none;')= user
  .row
    #map.col-sm-12
    #overlay1.col-sm-3
      h3 Your Saved Noms
      #bookmarkRowTpl
        .row.nommark(data-id='{{Id}}' style='display:none;')
          .col-md-3.eateryname {{Name}}
          .col-md-3.address {{Address}}
          .form-group
            label(for='Notes') Notes
              input#color.form-control(type='text', placeholder='My Comments')
      .col-md-1.delete
        button.btn.btn-danger(type='button') Delete
    #overlay2.col-sm-offset-3.col-sm-6
      h3 NOM-ADD: Add Now, Nom Later
      #custom-search-input
        .input-group.col-md-12
          input.form-control.input-lg(type='text', placeholder='Find noms')
          span.input-group-btn
            button.btn.btn-info.btn-lg(type='button')
              i GO!
    #placeinfo.col-sm-offset-9.col-sm-3
      span Place for noms
        for restaurant in restaurants
          ul
            li=restaurant.name
            li=restaurant.formatted_address
            li=restaurant.geometry.location.lat
            li=restaurant.geometry.location.lng
